.journeyDetail{
    width: 410px;
    height: 450px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
}

.jdetailWrap{
    padding: 15px;
}

.jdetailTop{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.jdetailData{
    display: flex;
    align-items: center;
}

.jdetailPP{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.profileName{
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.jdetailMore{
    display: flex;
    align-items: center;
}

.jdetailiBody{
    margin: 20px 0;
}

.jdetailImg{
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    max-height: 250px;
    object-fit: contain;
}

.jdetailButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jdetailLikes{
    display: flex;
    align-items: center;
}

.like{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.likesCount{
    font-size: 14px;
}

.commentsCount{
    border-bottom: solid #708090;
    font-size: 14px;
    cursor: pointer;
}