.feed{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feedHead{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.feedBody{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}