.feed{
    flex:1;
}

.feedHead{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.feedBody{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feedTravel{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.feedJourney{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}