.travelDetail{
    width: 700px;
    height: 270px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
}

.tdetailWrap{
    padding: 15px;
}

.tdetailTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tdetailData{
    display: flex;
    align-items: center;
}

.travelPP{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.profileName{
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.tdetailMore{
    display: flex;
    align-items: center;
}

.tdetailBody{
    
    direction: column;
    justify-content: space-around;
    padding-top: 15px;
}

.tdetailButtons{
    height: 30px;
}

.buttons{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 20px;
    padding-top: 40px;
}

.option{
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.hey{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.heysCount{
    font-size: 14px;
}
