.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #5271FF;
    display:flex ;
    align-items: center;
    position: sticky;
    top: 0;
}


.topbarLeft{
    
}

.topbarCenter{
    
}

.topbarL{
    
}

.topbarLeft{
    
}
