.travel{
    margin-top: 20px;
    width: 410px;
    height: 270px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
}

.travelWrap{
    padding: 15px;
}

.travelTop{
    display: flex;
    align-items:center;
}

.travelPP{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.travelData{
    direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
}

.travelDesc{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 30px;
    border: solid 1px;
    border-color: #f8ecdd;
    width: 70%;
}

.button{
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.postButton{
    border: none;
    padding: 8px;
    border-radius: 25%;
    background-color: #1a1a1a;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: #fefafa;
}